<div class="h-screen w-full flex items-center justify-center content-[' '] bg-black/70"
    (click)="$event.stopPropagation(); closeModal()">
    <div class="bg-white dark:bg-black rounded-xl p-4">
        <div class="flex items-center px-3 py-2 justify-between">
            <p>Confirmation</p>
            <lucide-icon name="x"></lucide-icon>
        </div>
        <div class="flex items-center px-3 py-2 justify-center flex-col"></div>
        <div class="flex items-center px-3 py-2 justify-end gap-3"></div>
    </div>
</div>